<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MemePaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <MemePaster.Properties.Settings>
            <setting name="MemePath" serializeAs="String">
                <value>D:\Memes\</value>
            </setting>
            <setting name="MajorKey" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="Modifier" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="LastRefresh" serializeAs="String">
                <value />
            </setting>
        </MemePaster.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.1422" newVersion="7.2.0.1422"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
