<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="Fody" version="6.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="Prism.Commands.Ex" version="0.1.1" targetFramework="net461" requireReinstallation="true" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="3.2.6" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>